*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

/* 
Lora Heading texts at weight at 700 and 500
Lato body text at weight 400
*/ 

body {
    background-color: #0FA3B1;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

header, main, footer {
    max-width: 980px;
    margin: 0 auto;
}

header {
    background-color: #EDDEA4;   
}

h1 {
    font-family: 'Lora', serif; 
}

h2 {
    color: #0FA3B1;
}

label {
    color: #B5E2FA;
}

main {
    background-color: #F9F7F3;
}

footer {
    background-color: #F7A072;
}
